<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout2 Using Flex</title>
    <link rel="stylesheet" href="layout2Flex.css" />
  </head>
  <body>
    <div id="wrapper-div">
      <div id="logo-nav-div">
        <div id="logo-div">Logo</div>
        <div id="nav-div">Navigation</div>
      </div>

      <div id="header-banner-div">Header/Banner</div>

      <div id="intro-text-div">Intro Text Area</div>
      <div id="main-box-container">
        <div class="inside-boxes-div">Box1</div>
        <div class="inside-boxes-div">Box2</div>
        <div class="inside-boxes-div">Box3</div>
      </div>
      <div id="footer-div">Footer</div>
    </div>
  </body>
</html>
