*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:arial;
}
body{
    display: flex;
    flex-direction: column;
}
#wrapper-div{
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 100px;
    margin: auto;
}
#logo-nav-div{
    display: flex;
    flex-direction:row;
    width: 100%;
    min-height: 50px;
    margin-bottom: 10px;
}
#logo-div{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: lightgray;
    padding-left: 2%;
    justify-content: center;
}
#nav-div{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: lightgray;
    justify-content: center;
}
#main-box-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    margin-bottom: 10px;
    /* justify-content: space-between; */
    gap: 10px;
}
.box-div{
    display: flex;
    flex:1;
    flex-direction: row;
    width: 20%;
    min-height: 50px;
    background-color: lightgray;
}

#three-box-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 200px;
    justify-content: space-between;
}
.three-div{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 30%;
    justify-content: center;
    align-items: center;
}
#footer-div{
    display:flex;
    flex-direction:column;
    width: 100%;
    min-height: 100px;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}