<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout 2</title>
    <link rel="stylesheet" href="layout2.css" />
  </head>
  <body>
    <div id="wrapper-div">
      <div id="logo-nav-div" class="clearfix">
        <div id="logo-div">Logo</div>
        <div id="nav-div">Navigation</div>
      </div>
      <div id="header-banner-div">Header/Banner</div>
      <div id="intro-area-div">Intro Text Area</div>
      <div id="box-container" class="clearfix">
        <div id="box1-div">Box1</div>
        <div id="box2-div">Box2</div>
        <div id="box3-div">Box3</div>
      </div>
      <div id="footer-div">Footer</div>
    </div>
  </body>
</html>
